  body {
    background-color: #3BACB6;
  }

  h1 {
   color: #302579;
  }

  h3 {
    color: #302579;
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #3BACB6;
    border-width: 5px;
    border-color: #2F8F9D;
  }
